<p style='font-size: 21pt; margin-left: 20px;' >Оплата</p>
<form action="http://test.robokassa.ru/Index.aspx" method="get" style="margin-left: 5%;" class='col-md-9' >
<input type="hidden" name="MrchLogin" value="">
<input name="OutSum" value="{{toPay}}">
<input type="hidden" name="InvId" value="{{_id}}">
<input type="hidden" name="Desc" value="desc">
<input type="hidden" name="IncCurrLabel" value="WMZM">
<input type="hidden" name="Culture" value="ru">
<input type="hidden" name="Encoding" value="utf-8">
<input type="hidden" name="shpa" value="1">
<input type="hidden" name="shpb" value="amorkovin@gmail.com">
<input type="hidden" name="SignatureValue" value="48c2f32155a8f7c0afadee0eafa8ddca">
<input type="submit" value="Оплатить">
</form>