<p style='font-size: 21pt; margin-left: 20px;'>О магазине</p>
<div class='text'>
<br>
<p><b class='active'>НАШИ ПРЕИМУЩЕСТВА:</b></p>
<br>
<p>Товар отправляется напрямую из Японии,без посредников,поэтому у нас низкие цены
найдем и отправим любой товар по Вашему запросу
мы продаем товары разработанные и произведенные для внутреннего рынка Японии,что гарантирует высочайшее качество и уникальность
у нас заключенны договора напрямую с производителями,соответственно Вы получаете товар по низким ценам и самого свежайшего качества.</p>
<br>
</br>
<p><b class='active'>АССОРТИМЕНТ:</b></p>
<br>
<p>У нас Вы можете приобрести японскую косметику лучших японских производителей,средства ухода для лица и тела,средства ухода за волосами,Бады и витамины.
Также мы предлагаем приобрести натуральные японские продукты питания и товары для детей.</p>
<br>
</br>
<p><b class='active'>ПОЧЕМУ ЯПОНСКИЕ БАДЫ?</b></p>
</br>
<p>В Японии проживает самое большое число долгожителей-это известный факт.
Японцы знают как прожить жизнь в гармонии с природой и окружающим миром.
 Именно поэтому японские биодобавки и витамины содержат  натуральные вещества и вытяжки из растений,а потому безопасны для организма  и всегда дают результат.</p> 
<br>
<p>Мы постоянно пополняем ассортимент новыми товарами и следим за новинками. Будьте уверены, последние достижения японской медицины первым делом появятся у нас.</p>

<br>
<p style='float: right;font-size: 18pt;'>ПРИЯТНЫХ ПОКУПОК!!!</p>
</div>