<p style='font-size: 21pt; margin-left: 20px;'>Статьи</p>
<div class='text'>

<br><div><b class='articleHeader'>ЯПОНСКАЯ КОСМЕТИКА ДЛЯ КОЖИ ЛУЧШАЯ НАХОДКА!</b>
	<p class='hidden'><br>
	Наша кожа  в любом возрасте требует ухода, но в зрелом возрасте оно нуждается в большем внимании. Это обуславливается тем, что кожа стареет, становится менее упругой и сильной. Но так как мы живем в эру развитых технологий, можем ухаживать за своим телом более эффективно, чтобы оно как можно дольше оставалось молодым и здоровым.
<br><br>
	Японская косметические средства для кожи– то, что поможет вам. Многочисленные компании создают удивительные продукты, способные положительно влиять на кожу. Лосьоны, кремы, масла и многие другие средства помогают решать ряд проблем. Отличительная особенность японской косметики заключается в ее максимальной натуральности. Известно, что производители пользуются дарами природы. Они не упускают возможность взять от растений и животного мира полезные натуральные составляющие. И это замечательно, потому что именно такие компоненты помогают сохранить кожу молодой и красивой.
<br><br>
	Тропические цветочные масла, алое, мед, гиалуроновая кислота и многие другие элементы – это то, что восстанавливает кожу, возвращает ей упругость, силу, здоровье. Для японцев очень важно производить такую продукцию, которая будет отвечать всем ожиданиям покупателей. Поэтому они разрабатывают новые программы, тщательно контролируют свои товары на стадии разработки, доказывают их эффективность.
<br><br>
	Многочисленные женщины со всего мира перешли на японскую косметику. На это есть масса причин. И две главные заключаются в том, что косметика безопасна и действенна. Результат – вот, что им важно. Никто не хочет выбрасывать деньги, покупая пустышки. А японские средства давно зарекомендовали себя с лучшей стороны.
	Наш интернет-магазин предлагает широкий выбор японской косметики для тела!
<br><br>
	У нас есть все, что нужно современному человеку: мыло, спреи, соли для ванн, кремы, масла, гели, массажные средства и много чего еще. В каталоге покупатели смогут найти множество шикарных продуктов, созданных для зрелой кожи. С помощью них можно вернуть телу тонус, привести его в порядок. Бережный и при этом эффективный уход – вот что мы предлагаем.
<br><br>
	Все, что находится на сайте, является на 100% оригинальным. Поэтому наши клиенты могут не волноваться о качестве покупаемого товара. Мы ценим всех покупателей, а значит, предлагаем им все самое лучшее. 
<br><br>	
	Разнообразие биодобавок для поддержания красоты и молодости в Японии просто поражает и охватить весь рынок - непростая задача. Попробуем написать краткий обзор. В основе многих биодобавок для молодости и красоты содержатся коллаген и гиалуроновая кислота. Такие биодобавки (или нутрикосметика) в Японии выпускаются в разных видах: таблетках, порошке, капсулах, жевательных таблетках, напитках.
 <br><br>
Мы отобрали и представили в нашем магазине только продукцию от ведущих японских производителей. Их составы и формулы, конечно, отличаются, однако можно с уверенностью сказать, что в производстве самых высококачественных биодобавок используются низкомолекулярные коллагеновые пептиды и гиалурон. Эти вещества отличаются длинными молекулярными цепочками, что затрудняет их усваивание в организме, и японские ученые разработали способ производства этих веществ в низкомолекулярной форме.
<br><br>
Также в состав многих биодобавок входят коэнзим Q10, эластин, пчелиное маточное молочко, церамиды, изофлавоны, антиоксиданты, экстракты лечебных трав. Остановимся подробнее только на основных компонентах.
<br><br> 
Коллаген - это фибриллярный белок, обнаруженный в дерме кожи. Вместе с гиалуроновой кислотой и эластином, он помогает сохранить упругость кожи и эластичность. Естественное производство коллагена в организме начинает снижаться примерно с 25-тилетнего возраста. Потери коллагена, а также внешние факторы, такие как загрязнение окружающей среды, повреждения УФ-лучами и стресс, приводят к видимым признакам старения, в результате чего образуются  морщины. Соединение коллагена и эластина поддерживает кожу, сохраняя ее более упругой и молодой.
<br><br>
<img src='/css/images/articles/skin1.jpg'>
<img src='/css/images/articles/skin2.jpg'>
<img src='/css/images/articles/skin3.jpg'>
<br><br>
Гиалуроновая кислота (гиалуронат) - несульфированный гликозаминогликан, входящий в состав соединительной тканей и эпителия (кожа). В теле человека весом 70 кг содержится около 15 граммов гиалуроновой кислоты, одна треть которой преобразуется (расщепляется или синтезируется) каждый день. Как известно, 1 г гиалуроновой кислоты способен содержать 6л жидкости, и она знаменита благодаря своим увлажняющим свойствам. Гиалуроновая кислота в составе кожи участвует в регенерации ткани. При чрезмерном воздействии на кожу ультрафиолета, в клетках дермы прекращается синтез гиалуроновой кислоты и увеличивается скорость её распада. Поэтому рекомендуется ее пополнение извне.
<br><br>
<img src='/css/images/articles/skin4.png'>	
	</p>
</div>
<br><div><b class='articleHeader'>ЧТО ТАКОЕ БАДы И С ЧЕМ ИХ ЕДЯТ: ВСЕ О ПОПУЛЯРНЫХ БИОДОБАВКАХ!</b>
	<p class='hidden'><br>
	В определенные жизненные периоды каждый из нас испытывает стресс и чувствует себя разбитым. В это время резко падает иммунитет и могут активироваться различные заболевания. Состояние кожи и волос ухудшается, на лице появляются мелкие морщинки, угревая сыпь и даже пигментные пятна. Все это – мощный сигнал организма о том, что ему катастрофически не хватает витаминов.
<br><br>
БАДы – выбор японцев
<br><br>
	<img src='/css/images/articles/buds1.jpg'>
<br><br>
Какие же витамины стоит выбрать, чтобы вернуть себе молодость, красоту и здоровье, повысить работоспособность и устранить болезненные симптомы?
<br><br>
Биологически активные добавки (БАДы) - выбор японцев, которые заслуженно считаются самой здоровой нацией на Земле.
<br><br>
Именно в Японии зафиксирована самая длинная продолжительность жизни – 79 лет у мужчин и 86 у женщин. А знали ли Вы, что большинство японцев регулярно принимают БАДы? Так, в 2010 году рынок БАДов в стране Восходящего солнца превысил 7 млрд долл.!
<br><br>
Почему не стоит бояться БАДов?
<br><br>
Уникальные свойства БАДов, о которых пойдет речь далее, способствовали огромному росту их популярности. Как следствие, появилось множество фирм, которые ради легкой прибыли производили БАДы кустарным образом, добавляя в состав сахар, соль, крахмал или тальк. Именно это послужило причиной того, что многие люди не доверяют БАДам и предпочитают употреблять обычные витамины.
<br><br>
Однако это является довольно серьезным заблуждением. Не верите? Убедитесь сами:
<br><br>
- Применение БАДов санкционировано правительством России.
<br>
- Все японские бады имеют сертификат качества Министерства здравоохранения Японии и около двадцати общественных организаций, связанных с охраной здоровья населения.
<br>
- Минздрав Японии каждый год составляет перечни препаратов, рекомендованных при различных заболеваниях.
<br>
- Помимо японских сертификатов качества, настоящие БАДы имеют сертификаты ISO 9001 и HACCP.
<br>
А знали ли вы, что, согласно статистике, каждый второй японец ежедневно принимает биодобавки?
<br>
Польза БАДов из Японии – уникальная рецептура на все случаи жизни
<br><br>
Японские БАДы обрели широкую популярность в первую очередь благодаря своим уникальным ингредиентам.
<br><br>
<img src='/css/images/articles/buds2.jpg'>
<br><br>
Незаменимые аминокислоты, минералы, микроэлементы и витамины, дары моря, пчелиный воск и маточное молочко, феромоны и плацента, коллаген, коэнзим Q10 и гиалуроновая кислота, женьшень и другие редкие травы – вот далеко не полный перечень состава японских биодобавок.
<br><br>
Японские БАДы очищают организм от шлаков и токсинов, ускоряют обмен веществ, помогают бороться с лишним весом и улучшают состояние кожи, ногтей и волос. Однако они оказывают не только косметический эффект.
<br><br>
Оригинальные японские БАДы помогут найти решение во множестве случаев:
<br><br>
1.     Они повышают иммунитет, помогают побороть усталость.
<br>
2.     Устраняют признаки старения: морщины, дряблую кожу, отеки и пигментные пятна.
<br>
3.     Эффективно ликвидируют угревую сыпь.
<br>
4.     Благотворно воздействуют на нервную систему и устраняют стресс и депрессию.
<br>
5.     Помогают бороться с последствиями употребления алкоголя и никотина.
<br>
6.     Помогают выдерживать интенсивные физические нагрузки, повышают работоспособность.
<br>
7.     Улучшают состояние пациентов, страдающих от болезней сердца, атеросклероза, диабета; нормализируют работу печени, блокируют  аллергические реакции.
<br>
8.     Нормализуют гормональный баланс (при нарушении менструального цикла и гинекологических заболеваниях).
<br>
И это только примерный список проблем, которые могут быть решены с помощью японских биодобавок. 
	</p>
</div>
<br><div><b class='articleHeader'>О ВИТАМИНАХ</b>
	<p class='hidden'>
		<br>
		Витамины (от латинского vita - жизнь) - биологически активные вещества, регулирующие обмен веществ в организме и необходимые для нормальной жизнедеятельности человека. Они повышают работоспособность, выносливость, устойчивость к инфекциям, способствуют правильному обмену веществ. Организм человека нуждается в витаминах каждый день, хотя и в очень малом количестве. Потребность в них не превышает нескольких тысячных, сотых долей грамма. Повышенная потребность в витаминах наблюдается при физической нагрузке, при заболеваниях, в период беременности.
		Витамины являются катализаторами (ускорителями) действия ферментов и гормонов. При недостатке в пище тех или иных витаминов возникают гиповитаминозы. Гиповитаминозы носят сезонный характер, наблюдаются чаще в зимне-весеннее время, и для них характерны повышение утомляемости, снижение работоспособности, подверженность простудным заболеваниям. При их полном отсутствии - авитаминозы. Из всех витаминов только витамин D синтезируется в организме посредством солнечных лучей. Остальные витамины мы получаем из пищи. 
		<br><br>
		Витамин А<br>
		Способствует правильному росту и развитию организма. Играет важную роль в формировании иммунной системы, повышает сопротивляемость организма к инфекциям. Нормализует зрительную функцию. Является важнейшим компонентом антиоксидантной защиты организма.
		В организм человека чистый витамин А поступает с продуктами животного происхождения. Много витамина А содержится в печени рыб (трески, морского окуня, камбалы, минтая, палтуса), в говяжьей печени, в сливочном масле, яичном желтке. Провитамин А - каротин - имеется в продуктах растительного происхождения: в моркови, тыкве, петрушке, красном перце, укропе, помидорах, зеленом луке, абрикосах, апельсинах, лимонах, персиках, рябине, плодах шиповника, урюке, малине.
		Так как витамин А жирорастворим, его необходимо употреблять с жиром. Лучше использовать растительные масла или сметану, чтобы витамин лучше всасывался в кишечнике. Суточная потребность в витамине А составляет 1,5 мг, в каротине - 3 мг.
		<br><br>
		Витамин В1<br>
		Витамин В1 (тиамин) отвечает за чувствительность и восприимчивость нервных тканей. Витамин В1 отвечает за углеводный, белковый, жировой, водно-солевый обмены, деятельность клеточного дыхания, нервной, сердечно-сосудистой систем, органов пищеварения. Витамин В1 содержится в ржаном хлебе, овсяной крупе, печени, почках крупного рогатого скота, ветчине, в плодах бобовых растений, орехах, дрожжах. Суточная потребность в витамине В1 - 1,75 мг.
		Витамин В1 в виде тиалиндифосфата входит в состав ряда ферментных систем, поэтому при дефиците витамина В1 возникает ферментная недостаточность, нарушается сжигание глюкозы и образование белков. Недостаток витамина В1 приводит к накоплению пировиноградной кислоты, которая раздражает нервные окончания, способствует развитию полиневритов. 
		<br><br>
		Витамин В2<br>
		Витамин В2 (рибофлавин) входит в состав ферментов, необходимых для клеточного дыхания, регуляции центральной нервной системы. Витамин В2 входит в состав молока и молочных продуктов, мяса, печени, почек, сердца, яичного желтка, грибов, пекарских и пивных дрожжей. Самое большое количество в непросеянной муке и во всех типах продуктов из молока.
		Дефицит витамина В2 (рибофлавин, лактофлавин) вызывает прекращение роста организма, выпадение волос, заболевание глаз с зудом и светобоязнь. Возникает шероховатость языка, в уголках рта появляются трещины. Суточная потребность человека в рибофлавине составляет 3 мг.
		<br><br>
		Витамин В6<br>
		Витамин группы В6, пиридоксин, участвуют в важных процессах синтеза белков и воссоздании крови. Витамин В6 входит в состав ферментов, участвующих в обмене аминокислот, ненасыщенных жирных кислот, холестерина. Особенно богаты этим витамином рыба, птица, печень и свиное мясо. Также витамин В6 содержится в пшенице, ржи, овощах, мясе, рыбе, молоке, в печени крупного рогатого скота, яичном желтке, дрожжах. Дефицит пиридоксина приводит к изменениям функции нервной системы (повышенная возбудимость, судороги) и пеллагроподобным изменениям кожи. Для восполнения употребляйте в пищу продукты из муки грубого помола. Суточная потребность в пиридоксине взрослого человека - 2 - 2,5 мг.
		<br><br>
		Витамин В9<br>
		Витамин В9 (фолиевая кислота) влияет на образование и деление клеток. Витамин В9 участвует в синтезе некоторых аминокислот, оказывает стимулирующее влияние на кроветворение, способствует лучшему усвоению витамина В12. Большое количество фолиевой кислоты содержится в растительных продуктах, таких как зелень, спаржа, спаржевая капуста, свекла, морковь, бобы, горох, непросеянная мука, проросшая пшеница и многие виды орехов. Также витамин В9 содержится в продуктах животного происхождения, таких как печень, почки, яйца и всех молочных продуктах. При недостатке фолиевой кислоты может развиться анемия.
		<br><br>
		Витамин В11 (ВТ)<br>
		Левокарнити́н (лат. levocarnitinum, англ. levocarnitine, также L-карнитин, витамин BT, витамин B11) - аминокислота, родственная витаминам группы В. В отличие от витаминов, карнитин синтезируется в организме, поэтому его называют иногда витаминоподобным веществом. Левокарнитин был открыт В. С. Гулевичем и Р. З. Кримбергом в 1905 году. В 1962 году была определена роль карнитина - он переносит длинноцепочечные жирные кислоты в митохондрии через внутреннюю мембрану последних. 
		В медицине используется для коррекции метаболических процессов, стимулирует регенерацию, активирует жировой обмен, оказывает антигипоксическое и антитиреоидное действие.
		Основными пищевыми источниками левокарнитина являются мясо, рыба, птица, молоко и молочные продукты. Название L-карнитин (l-carnitine, L-карнитин) происходит от латинского слова «сaro» - мясо. Однако поступления левокарнитина с пищей не всегда достаточно для восполнения потребности в нем. Суточная доза этого вещества содержится в 300-400 г сырой говядины. Однако при термической обработке мяса значительная часть левокарнитина теряется. Левокарнитин часто используется в диетических биодобавках, так как способствует сжиганию жиров.
		<br><br>
		Витамин В12<br>
		Витамин В12 (цианокобаламин) используется в образовании нуклеиновых кислот, аминокислот (холина). Он необходим для нормального кроветворения, созревания эритроцитов, активации свертывающей системы крови, принимает участие в обмене углеводов, жиров. 
		При заболеваниях желудочно-кишечного тракта возникает гиповитаминоз В12. Наблюдается анемия, которая характеризуется резким снижением числа эритроцитов в периферической крови, появлением в крови молодых, незрелых форм эритроцитов. Витамины группы В12 (цианокобаламин) содержатся в достаточных количествах в бобовых продуктах, молоке (в основном, в кислом), непросеянной муке, печени, мясе, яйцах, дрожжах, и многих видах рыбы.

		<br><br>
		Витамин С<br>
		Витамин С (аскорбиновая кислота) повышает сопротивляемость организма к инфекциям, простудным заболеваниям, снижает физическое утомление и повышает работоспособность. Отвечает за иммунную систему и за полноценный рост всех тканей в организме. Наиболее богаты витамином С зелень, овощи и фрукты (ягоды шиповника, черноплодной рябины, черной смородины, лимоны). Богат витамином С картофель, лук, капуста квашеная, редис, петрушка. 
		При остром недостатке аскорбиновой кислоты в пище развивается цинга. Для цинги характерно опухание десен, расшатывание и выпадение зубов, кровоизлияния в мышцах, коже, суставах. При гиповитаминозе витамина С появляются сердечная слабость, утомляемость, одышка, понижается устойчивость к различным заболеваниям. В раннем возрасте наблюдается задержка процессов окостенения.
		Суточная потребность в витамине С взрослого человека составляет 70 - 100 мг.
		<br><br>
		Витамин D<br>
		Витамин D (кальциферол) отвечает за состояние костей и хрящей и их восстановление. Кроме того, этот витамин регулирует в организме содержание кальция и фосфора. Этот витамин синтезируется в самом организме посредством солнечных лучей, попадающих в организм. Большое количество витамина D содержится в печени морских рыб, рыбе, сливочном масле, яичном желтке, молоке и грибах. Богаты витамином D дрожжи. В качестве источника витамина D используется витаминизированный рыбий жир.
		Суточная потребность в витамине D для ребенка составляет 500 - 1000 МЕ (международных единиц).
		<br><br>
		Витамин К<br>
		Витамин К (филлочинон) способствует хорошей свертываемости крови. Он содержится в молочных продуктах, яйцах, мясе, печени, зелени, томатах, зеленых листьях салата, шпината, в белокачанной и цветной капусте, моркови, томатах, ягодах рябины, картофеле и клубнике. Суточная потребность взрослого человека в витамине К - 1-2 мг.
		<br><br>
		Витамин Р<br>
		Витамин Р (биофлавоноиды) относят к витаминоподобным соединениям. Витамин Р входит в группу биологически активных веществ (рутин, катехины), он укрепляет каппиляры и уменьшает проницаемость сосудистой стенки. В 1936 году А. Сент-Дьердьи из кожуры лимона выделил вещество, уменьшающее ломкость, проницаемость капилляров у больных с геморрагическим диатезом. Оно и получило название витамин Р (от "permeability" - проницаемость).
		Р-гиповитаминоз обычно сочетается с недостаточностью аскорбиновой кислоты. При этом возможны хрупкость стенок мелких сосудов, точечные кровоизлияния, быстрая утомляемость. 
		Витамин Р содержится в черноплодной рябине, вишне, черной смородине, чае, зеленом горошке, апельсинах, лимонах, плодах шиповника, перце, малине, землянике, в других плодах и ягодах. 
		<br><br>
		Витамин РР<br>
		Витамин РР (ниацин) входит в состав ферментов, участвующих в клеточном дыхании и обмене белков, регулирующих высшую нервную деятельность и функции органов пищеварения. Используется для профилактики и лечения пеллагры, заболеваний желудочно-кишечного тракта, слабо заживающих ран и язв, атеросклероза. 
		Никотиновая кислота содержится в дрожжах, печени, мясе, в бобовых растениях, гречневой крупе, картофеле, орехах. Витамин РР устойчив к тепловой обработке. Суточная потребность взрослого человека в витамине РР- 15-20 мг, для беременных и кормящих - 19-21 мг; детей первого года жизни - 5-7 мг.
		<br><br>
		Витамин U<br>
		Метилметионинсульфоний хлорид (витамин U) является производной необходимой аминокислоты - метионина. Он оказывает благоприятное влияние на состояние слизистых оболочек, способствует заживлению язв желудка и двенадцатиперстной кишки. Витамин U содержится в белокочанной капусте, томатах, зеленом чае, в соках из сырых овощей (капустном) и фруктов. Витамин U, находящийся в свекле, устойчив к термообработке.
		<br>
	</p>
</div>
<br><div><b class='articleHeader'>О МИНЕРАЛЬНЫX ВЕЩЕСТВАX</b>
	<p class='hidden'><br>
	Минеральные вещества необходимы для нормального течения химических реакций в организме. Они входят в состав тканей и биологических жидкостей, поддерживают постоянство состава клеток, влияют на развитие желез внутренней секреции, выработку гормонов, кроветворение. Минеральные вещества делятся на две группы: макроэлементы и микроэлементы. Макроэлементы - кальций, калий, натрий, фосфор, магний, сера, хлор и др. Микроэлементы - фтор, железо, цинк, йод, кремний, селен, марганец, медь, молибден, кобальт и др. Человек получает минеральные вещества с продуктами животного и растительного происхождения. В природе не существует одного продукта, который бы полностью обеспечил потребность организма в минеральных элементах. Недостаток минеральных веществ в питании влечет за собой серьезные нарушения в формировании тканей, костей, зубов, изменения со стороны нервной и сердечно-сосудистой системы. Весь набор минеральных веществ можно получить, только питаясь максимально разнообразно. Поговорим о минеральных веществах, наиболее чаще встречающихся в витаминно-минеральных комплексах.
	<br><br>
	Кальций<br>

	Кальций составляет основу костной ткани, регулирует свертываемость крови, влияет на процессы, происходящие в сердечно-сосудистой и нервно-мышечной системах. Он поддерживает плотность сосудов, нормализует артериальное давление, активизирует работу мышц. Лучшие поставщики кальция - молоко и молочные продукты, сыры, рыба, цитрусовые, капуста. Фитиновые кислоты в злаковых и щавелевая кислота в щавеле и шпинате ухудшают усваивание кальция. В результате взаимодействия этих кислот с кальцием образуются нерастворимые фитаты и оксалаты кальция (соли фитиновой и щавелевой кислот соответственно). Жирная пища также замедляет усвоение кальция. Суточная потребность в кальции для взрослых - 0,8 г; для беременных и кормящих женщин - 1-1,2 г.
	<br><br>
	Фосфор<br>

	Фосфор - важнейший элемент, входящий в состав белков, нуклеиновых кислот, костной ткани. Лучшим источником фосфора являются животные продукты. Также он содержится во всех зеленых частях растений, в плодах и семенах. Суточная потребность в фосфоре для взрослых - 1.2 г; при беременности и кормлении грудью - 1,5-1,8 г. Основное количество фосфора человек потребляет с молоком и хлебом. Обычно усваивается 50-90% фосфора. Из растительных продуктов фосфор поглощается меньше, поскольку он находится там в виде трудно усваиваемой фитиновой кислоты. Для правильного питания важно не только абсолютное содержание фосфора, но и соотношение его с кальцием, которое считается оптимальным для взрослого человека - 1:1,5. При избытке фосфора может происходить выведение кальция из костей, а при избытке кальция развивается мочекаменная болезнь.
<br><br>
	Магний<br>

	Магний активирует ферменты углеводного и энергетического обмена, участвует в костеобразовании, нормализует возбудимость нервной системы и деятельность сердечных мышц. Он оказывает антиспастическое и сосудорасширяющее действие, стимулирует двигательную функцию кишечника и желчеотделение, способствует выведению холестерина из кишечника. Магнием богаты растительные продукты такие как бананы, пророщенная пшеница, листовые овощи, рыба и морепродукты, орехи. Суточная потребность в магнии для взрослых - 0,4 г; при беременности и кормлении грудью - 0,45 г.
<br><br>
	Калий<br>

	Калий играет большую роль во внутриклеточном обмене, в регуляции водно-солевого обмена, осмотического давления, кислотно-основного состояния. Он необходим для нормальной деятельности мышц, в частности сердца. Калий способствует выведению из организма воды и натрия. Он активирует ряд ферментов и участвует в важнейших обменных реакциях. Больше всего калия поступает в организм с растительными продуктами, мясом, морской рыбой. В растительных продуктах, в отличие от животных, калия во много раз больше, чем натрия. Потребность в калии - 2-4 г в день.
<br><br>
	Натрий и Хлор<br>

	Натрий и хлор поступают в организм в основном в виде натрия хлорида (поваренной соли). Натрий участвует во внутриклеточном и межтканевом обмене веществ, регуляции кислотно-основного состояния и осмотического давления в клетках, тканях и крови. Участвуя в водном обмене, он способствует накоплению жидкости в организме, активирует пищеварительные ферменты. Хлор участвует в регуляции осмотического давления и водного обмена, образовании соляной кислоты желудочного сока. Суточная потребность в натрия хлориде (поваренной соли) для взрослых - 10-15 г, что удовлетворяется за счет содержания в продуктах питания (6-10 г), в частности в хлебе (3-5 г), и поваренной соли, используемой для приготовления пищи и добавляемой по вкусу во время еды (3-5 г).
<br><br>
	Железо<br>

	Железо необходимо для нормального кроветворения и тканевого дыхания. Оно входит в состав гемоглобина эритроцитов, доставляющего кислород к органам и тканям, миоглобина мышц, ферментов, обеспечивающих процессы дыхания клеток. Роль отдельных продуктов как источников железа определяется не только его количеством, но и степенью усвоения организмом. Поступившее с пищей железо частично всасывается из кишечника в кровь. Лучше всего всасывается железо гемоглобина и миоглобина, т. е. крови и мышц, поэтому мясо животных и птиц, мясные субпродукты являются лучшими источниками железа. Всасыванию железа помогают лимонная и аскорбиновая кислоты и фруктоза, которые содержатся во фруктах, ягодах, соках. Так, при питье фруктового сока увеличивается усвоение железа из яиц и хлеба. В зерновых и бобовых продуктах и некоторых овощах содержатся фосфаты, фитины и щавелевая кислота, препятствующие всасыванию железа. При добавлении мяса или рыбы к этим продуктам усвоение железа улучшается, при добавлении молочных продуктов - не меняется, при добавлении яиц - ухудшается. Подавляет усвоение железа крепкий чай. Из рационов, состоящих из животных и растительных продуктов, усваивается 10% железа. Суточная потребность в железе составляет для мужчин 10 мг, для женщин - 18 мг; при беременности - 20 мг, при кормлении грудью - 25 мг. Более высокая потребность в железе у женщин обусловлена его потерями с кровью во время менструаций, с грудным молоком, с расходом на рост плода. 
<br><br>
	Йод<br>

	Йод участвует в образовании гормонов щитовидной железы. В районах, где имеется недостаток йода в пищевых продуктах и воде, возникает эндемический зоб. Развитию болезни способствуют преимущественно углеводное питание, недостаток животных белков, витаминов C и A, некоторых микроэлементов, избыточное потребление жиров. Для профилактики этой болезни используют йодированный натрия хлорид (поваренную соль). Йодом богаты морские рыбы и морепродукты (креветки, мидии, морская капуста и др.). В мясе животных и пресноводной рыбе йода немного. Хорошим его источником являются диетические хлебобулочные и кондитерские изделия с добавлением морской капусты, диетические консервы из рыбы и морепродуктов. 

	При тепловой кулинарной обработке и длительном хранении содержание йода в пищевых продуктах уменьшается. Так, при варке картофеля клубнями теряется 30% йода, в измельченном виде - 50%. Потребность в йоде - 0,1-0,2 мг в день. Содержание йода желательно увеличить в диетах при атеросклерозе, ожирении, гипертонической болезни, недостаточности щитовидной железы.
<br><br>
	Фтор<br>

	Фтор необходим для построения костной, особенно зубной, ткани. При недостатке фтора в воде и пищевых продуктах возникает кариес зубов, при избытке - поражение зубной эмали, хрупкость зубов. Фтора много в морской рыбе и продуктах моря, чае. Молочные продукты, фрукты и большинство овощей бедны фтором.
<br><br>
	Медь<br>

	Медь участвует в кроветворении и тканевом дыхании, она необходима для образования гемоглобина и «созревания» эритроцитов. Основными источниками являются мясо, рыба, морепродукты, горох, гречневая, овсяная и перловая крупы, картофель, абрикосы, груши, крыжовник. Суточная потребность составляет 2 мг меди.
<br><br>
	Цинк<br>

	Цинк необходим для нормальной функции эндокринной системы. Он обладает липотропными и кроветворными свойствами и входит в состав ферментов, обеспечивающих процессы дыхания. Взрослый здоровый человек должен ежедневно получать с пищей 10-15 мг цинка, которого больше всего в мясе гусей, фасоли, горохе, кукурузе, говядине, свинине, курице, рыбе, говяжьей печени, а также в молоке, яблоках, груше, сливе, вишне, картофеле, капусте, свекле и моркови.
	</p>
</div>

<br><div><b class='articleHeader'>БЛОКАТОРЫ ВИРУСОВ</b>
	<p class='hidden'><br>
	В стране "восходящего солнца"- Японии всего несколько лет назад появилось новое, эффективное средство для защиты от вирусов. Оно называется блокатор вирусов или вирусблокер. Препарат представляет из себя небольшой конвертик, размером с нагрудную визитку, с гранулами диоксид хлора внутри. Его главные преимущества заключаются в:   - Полном уничтожении на расстоянии всех микробов. - Отсутствии запаха и побочной реакции при применении в любом возрасте.  - Низкой стоимости. - Моментальности и длительности действия. - Компактности. - Обычном ношении на верхней одежде, или в карманах. Для этого предусмотрены отверстия и прищепки. - Абсолютной безвредностью. Сертифицирован и одобрен Всемирной организацией здравоохранения и многими другими международными министерствами и агентствами.   Полный эффект в работе блокатора осуществляется в радиусе 1 куб. метра. Его действие рассчитано на месяц. Срок хранения запечатанного образца не должен превышать 3 года. 
	<br><br>
	<img src='/css/images/articles/block1.jpg'>
	<br><br>
  Запатентован блокатор вирусов в Японии в 2013 году.  Разработкой занималась компании ENVROY CO. LTD, под руководством профессора Ваке Митиэ. У них стояла задача придумать портативное устройство защиты организма от бактерий и вирусов, когда в Японии люди массово болели после трагедии 2011 года с землятресенеим и последующим за ним цунами.   После серии многочисленных исследований и опытов появился препарат «Blocker CL-60», уникальность которого заключается в том, что японским ученым впервые в мире удалось получить в твердом виде диоксид хлора (CLO2), который легко можно поместить в индивидуальную герметичную упаковку.  
	<br><br>
	<img src='/css/images/articles/block2.jpg'>
	<img src='/css/images/articles/block3.jpg'>
	</p>
</div>
<br><div><b class='articleHeader'>ПИТАНИЕ ДЛЯ ЗДОРОВЫХ ВОЛОС</b>
	<p class='hidden'><br>
	Люди начинают терять волосы в любом возрасте, не думайте, что это проблема исключительно пожилых мужчин. На самом деле волосы у женщин начинают редеть уже в середине тридцатых, а у мужчин - иногда и в более молодом возрасте. Есть ли панацея от этой напасти? Как сохранить здоровые и красивые волосы? Существуют некоторые продукты, которые могут вам в этом помочь.
	<br><br>
	<img src='/css/images/articles/hair1.jpg'>
	<br><br>
	Первые продукты для здоровья волос - куриное мясо и яйца, богатые белком. Ваши волосы состоят в основном из белка, поэтому продукты, богатые белком, являются строительным материалом. Помните, что состояние ваших волосы не измениться в одночасье, здоровье волос должно поддерживаться постоянной сбалансированной диетой.
<br><br>
	Следующий, не менее важный продукт: фрукты и овощи, содержащие большое количество витамина С.  Нехватка витамина С в вашем рационе вызывает ломкость волос. Здоровая кожа головы приводит к здоровым волосам; витамин С поддерживает здоровье кровеносных сосудов в коже головы, через которые поступает питание в волосяные фолликулы. 
<br><br>
	Витамин B5 (пантотеновая кислота) - еще один важный ингредиент, который часто встречается в продуктах для ухода за волосами. Йогурт, например, содержит витамин В5 и протеин, что делает его вдвойне полезным для волос. Шпинат содержит много компонентов, которые способствуют здоровью фолликулы волос. Бета-каротин, витамин С, фолиевая кислота и железо заботяться о фолликулах и поддерживают масляный баланс кожи головы. 
<br><br>
	Еще одним важным ингредиентом для здоровья волос является витамин А. Витамин А буквально необходим каждой клетке вашего тела. При его нехватке у вас сразу появляется перхоть. Витамин А  поступает в организм в виде бета-каротина, антиоксиданта, который ваше тело перерабатывает в витамин А. Витамин А помогает производить кожный жир, который защищает кожу головы. Бета-каротин содержится во многих фруктах и овощах, особенно оранжевого цвета, таких как, абрикосы, дыня, морковь, тыква и манго. 
<br><br>
	Другим важным компонентом для здорового питания волос является цинк. Цинк содержится в устрицах, говядине, орехах, яйцах. 100 г устриц содержит почти 500% необходимой суточной дозы цинка. Отсутствие цинка может привести к потере волос, вплоть до выпадения ресниц. Ежедневное необходимое количество цинка очень мало и не должно вызывать трудностей. На крайний случай, у нас даже есть биодобавка УСТРИЦЫ, которая поможет вам.
<br><br>
	Грецкий орех имеет несколько свойств, которые способствуют здоровью волос. Вы можете потреблять как сами орехи, чтобы получить биотин, витамин Е, жирные кислоты Омега-3, или использовать масло грецкого ореха как соус для салата. Наш организм не может вырабатывать кислоты Омега-3, а они просто необходимы для роста волос. 
<br><br>
	Болъшое количество жирных кислот Омега-3 также содержится в лососе, как и витамин D и белок, что делает его отличным продуктом для здоровья волос. Стержень волоса на 3% состоит из Омега-3, остальные 97% - это белок. Жирные кислоты также можно найти в форели, сельди, сардинах, скумбрии, а если вы не поклонник рыбы, то в тыквенных семечках и авокадо.
<br><br>
	Как вы видите, волосы нуждаются в большом разнообразии продуктов. Белки, жирные кислоты, цинк, витамины С, В5, А являются важными для постоянного роста здоровых волос. Если ваши волосы не получают достаточного питания, то сначала покажет признаки нездоровья кожа головы, так что будьте внимательны к ее состоянию. Японская фирма DHC разработала несколько очень популярных биодобавок для роста и восстановления волос, которые помогут вам в случае необходимости или для профилактики: "МИЛЛЕТ и "ОБЬЕМ ВОЛОС,а также в нашем магазине вы сможете приобрести тоники и спреи для укрепления волос
	</p>
</div>
</div>
<script>
	$('.articleHeader').on('click',function(){
		$(this).next().toggleClass('hidden');
		$(this).toggleClass('active');
	});
</script>