<p style='font-size: 21pt; margin-left: 20px;'>Контакты</p>
<br>
<div class='text'>
<p>WhatsApp: &nbsp; <a class='active' href='https://api.whatsapp.com/send?phone=79124174818'>79124174818</a>
<br>
<br><p>Viber: &nbsp; <a class='active' href="viber://chat?number=79189405695">79189405695</a>
<br>
<br><p>Instagram: &nbsp; <a class='active' href='https://www.instagram.com/satomi_japan_krd/'>satomi_japan_krd</a>
<br>
<br><p>По всем вопросам сотрудничества или покупки оптом пишите в директ или звоните.
<br>
<br><p>Обратная связь:</p>
<script src='https://www.google.com/recaptcha/api.js'></script>
<form id="feedbackForm" action="/feedback" method="post" style="margin-left: 3%;">
    <div class="form-group callbackFormGroup">
		<div class="input-group">
			<input type="text" class="form-control" id="inputName" name='name' placeholder="Ваше имя" required>
		</div>
	</div>
	 <div class="form-group callbackFormGroup">
		<div class="input-group">
			<input type="email" class="form-control" id="inputEmail" name='email' placeholder="Ваш E-Mail" required>
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<textarea rows="5" cols="45" name="message" id='inputMessage' placeholder='Ваше сообщение'></textarea>
		</div>
	</div>
	<div class="form-group">
    <div>
		<div class="g-recaptcha" data-sitekey="6LcfcUgUAAAAALnxXk-lHsoEjnqvxLG4BzCz3zoP"></div> <!--for remote-server-->
		<!--<div class="g-recaptcha" data-sitekey="6Lc38CcTAAAAAIf6W7-jn9LmnFLybRnSw7zEswzq"></div> <!-- for localhost-->
  </div>
  </div>
    <div class="form-group">
		<input class="btn btn-callback" type="submit" value="Отправить"></input>
 </div>
</form>
</div>
