<p style='font-size: 21pt; margin-left: 20px;'>Доставка и оплата</p>
<div class='text'>
<br>
<p><b class='active'>ДОСТАВКА:</b></p>
<br>
<p>Мы доставляем заказы в любую точку земного шара. Доставка посылок осуществляется курьерской экспресс-почтовой службой EMS (International Express Mail Service). Служба EMS поставляет в самые быстрые сроки и позволяет отслеживать местонахождение посылки. Сразу после отправления заказа мы высылаем Ваш трекинговый номер по электронной почте. Мы страхуем все посылки EMS за наш счет.
</p>
<br>
<p>При весе посылки до 2 кг возможна отправка зарегистрированной международной почтой SAL - Surface Air Lifted (мелкий заказной пакет). При данном способе пересылки комбинируются наземные и воздушные пути, поэтому стоимость дешевле, чем ЕМС, но идет медленнее, примерно в два раза. Стоимость пересылки до 500 г - 700 руб, 1000 г - 900 руб, до 2000 г (максимальный возможный вес) - 1500 руб. При выборе данного метода отправления наш магазин не несет ответственности за работу почты и доставку. Отправлению будет дополнительно присвоен номер отслеживания (отслеживается в России, на Украине, не отслеживается в Казахстане). Это не курьерская доставка, и по приходу извещения посылку нужно будет забирать в Вашем почтовом отделении. Если вес Вашего заказа превышает 2 кг, то возможна отправка двумя-тремя посылками.
</p>
<br>
<p><b class='active'>Новый способ доставки:</b> зарегистрированная международная авиапочта (мелкий заказной пакет, до 2 кг). Стоимость больше САЛ, но доходит в среднем на одну неделю быстрее. Стоимость пересылки до 500 г - 1000 руб, 1000 г - 1400 руб, до 2000 г (максимальный возможный вес) - 2000 руб. При выборе данного метода отправления наш магазин не несет ответственности за работу почты и доставку. Отправлению будет дополнительно присвоен номер отслеживания (отслеживается в России, на Украине, не отслеживается в Казахстане), и оно будет частично застраховано (примерно на 2000 руб.). Это не курьерская доставка, и по приходу извещения посылку нужно будет забирать в Вашем почтовом отделении. Если вес Вашего заказа превышает 2 кг, то возможна отправка двумя-тремя посылками.
тной отправки ложится на заказчика. Если у вас есть пожелания по поводу оформления, то сообщите нам, пожалуйста, при оформлении заказа или сразу после оплаты.
</p>
<br>
<p><b class='active'>Еще один способ доставки:морем</b><br>
Данный вид доставки пригоден для крупных заказов, когда вес посылки составляет от 10  кг.<br>
Доступным для выбора на сайте способ становится при общем весе товаров от 2 кг и выше.<br>
Скорость доставки - от 20-30 дней.<br>
Ограничения по весу товара - нет<br>
Ограничения по объему посылки - нет<br>
Трекинг номер - отсутствует (на стадии морской перевозки)<br>
</p>
<br>
<p><b class='active'>ОПЛАТА:</b></p>
<br>
<p><b class='active'>Способы оплаты заказа.</b><br>
Для вашего удобства мы предлагаем различные методы оплаты заказа в нашем интернет-магазине. <br>
Обращаем Ваше внимание на то, что оплата заказов производится на официальных сайтах Сбербанка России.<br>
Оплата через «Сбербанк России»: Вы можете оплатить свой заказ через систему Сбербанк Онлайн, напрямую перечислив сумму заказа на нашу карту Сбербанка России. <br>
Этот способ наиболее предпочтительнее, так как деньги поступают на наш счет моментально. <br>
При этом обработка заказа начинается сразу после поступления денег на карту.<br>
При выборе оплаты "Перевод на карту Сбербанка", 
после оформления заказа, системаавтоматически вышлет Вам на почту счет с банковскими реквизитами.<br>
Оплату можно произвести в терминалах Сбербанка или воспользоваться системой Сбербанк Онлайн.
Средства поступают на наш счет моментально, после чего Ваш заказ будет сформирован.</p>

<br>
<p style='float: right;font-size: 18pt;'>Приятных Вам покупок!</p>
</div>